.jumbotron{
	text-align:center;
}
h3{
	text-align: left;
}
.dada{
	text-align: left;
}
.navbar{
	text-decoration-color: black;
}
body{
	background-color: grey;
}
.riziki{
	background-color: grey
}
.row{
	align-content: left;
}
